{{ define "fanvil_directory" -}}
<?xml version="1.0" encoding="UTF-8"?>
<FanvilIPPhoneDirectory >
    <Title>Hive Directory</Title>
    <Prompt>Hive Directory</Prompt>
{{ range $index, $extensions := .Extensions }}
    <DirectoryEntry>
        <Name>{{$extensions.DisplayName}}</Name>
        <Telephone>{{$extensions.Extension}}</Telephone>
    </DirectoryEntry>
{{ end }}
</FanvilIPPhoneDirectory>
{{- end}}