{{ define "fanvil_x5u_xml" -}}
<?xml version="1.0" encoding="UTF-8"?>
<sysConf>
    <Version>2.0000000000</Version>
    <mm>
        <capability>
            <AudioCodecSets>opus,PCMU,PCMA,G726-16,G726-24,G726-32,G726-40,G729,G723,iLBC</AudioCodecSets>
        </capability>
    </mm>
    <sip>
{{ range $index, $line := .Lines }}
        <line index="{{inc $index}}">
            <PhoneNumber>{{if gt $line.Extension 0}}{{$line.Extension}}{{end}}</PhoneNumber>
            <DisplayName>{{$line.DisplayName}}</DisplayName>
            <SipName></SipName>
            <RegisterAddr>{{$line.Server}}</RegisterAddr>
            <RegisterPort>5060</RegisterPort>
            <RegisterUser>{{if gt $line.Extension 0}}{{$line.Extension}}{{end}}</RegisterUser>
            <RegisterPswd>{{$line.Secret}}</RegisterPswd>
            <RegisterTTL>3600</RegisterTTL>
            <NeedRegOn>0</NeedRegOn>
            <BackupAddr></BackupAddr>
            <BackupPort>5060</BackupPort>
            <BackupTransport>0</BackupTransport>
            <BackupTTL>3600</BackupTTL>
            <BackupNeedRegOn>0</BackupNeedRegOn>
            <EnableReg>{{if $line.Enabled}}1{{else}}0{{end}}</EnableReg>
            <ProxyAddr></ProxyAddr>
            <ProxyPort>5060</ProxyPort>
            <ProxyUser></ProxyUser>
            <ProxyPswd></ProxyPswd>
            <ProxyNeedRegOn>0</ProxyNeedRegOn>
            <BakProxyAddr></BakProxyAddr>
            <BakProxyPort>5060</BakProxyPort>
            <BakProxyNeedRegOn>0</BakProxyNeedRegOn>
            <EnableFailback>1</EnableFailback>
            <FailbackInterval>1800</FailbackInterval>
            <SignalFailback>0</SignalFailback>
            <SignalRetryCounts>3</SignalRetryCounts>
            <SigCryptoKey></SigCryptoKey>
            <MediaCrypto>2</MediaCrypto>
            <MedCryptoKey></MedCryptoKey>
            <SRTPAuth-Tag>0</SRTPAuth-Tag>
            <EnableRFC5939>0</EnableRFC5939>
            <LocalDomain></LocalDomain>
            <AlwaysFWD>0</AlwaysFWD>
            <BusyFWD>0</BusyFWD>
            <NoAnswerFWD>0</NoAnswerFWD>
            <AlwaysFWDNum></AlwaysFWDNum>
            <BusyFWDNum></BusyFWDNum>
            <NoAnswerFWDNum></NoAnswerFWDNum>
            <FWDTimer>5</FWDTimer>
            <HotlineNum></HotlineNum>
            <EnableHotline>0</EnableHotline>
            <WarmLineTime>0</WarmLineTime>
            <PickupNum></PickupNum>
            <JoinNum></JoinNum>
            <IntercomNum></IntercomNum>
            <RingType>default</RingType>
            <NATUDPUpdate>2</NATUDPUpdate>
            <UDPUpdateTTL>30</UDPUpdateTTL>
            <ServerType>0</ServerType>
            <UserAgent></UserAgent>
            <PRACK>0</PRACK>
            <KeepAUTH>0</KeepAUTH>
            <SessionTimer>0</SessionTimer>
            <STimerExpires>0</STimerExpires>
            <EnableGRUU>0</EnableGRUU>
            <DTMFMode>3</DTMFMode>
            <DTMFInfoMode>0</DTMFInfoMode>
            <NATType>0</NATType>
            <EnableRport>1</EnableRport>
            <Subscribe>0</Subscribe>
            <SubExpire>3600</SubExpire>
            <SingleCodec>0</SingleCodec>
            <CLIR>0</CLIR>
            <StrictProxy>1</StrictProxy>
            <DirectContact>0</DirectContact>
            <HistoryInfo>0</HistoryInfo>
            <DNSSRV>0</DNSSRV>
            <DNSMode>0</DNSMode>
            <XFERExpire>0</XFERExpire>
            <BanAnonymous>0</BanAnonymous>
            <DialOffLine>0</DialOffLine>
            <QuotaName>0</QuotaName>
            <PresenceMode>0</PresenceMode>
            <RFCVer>1</RFCVer>
            <PhonePort>0</PhonePort>
            <SignalPort>5060</SignalPort>
            <Transport>0</Transport>
            <UseSRVMixer>0</UseSRVMixer>
            <SRVMixerUri></SRVMixerUri>
            <LongContact>0</LongContact>
            <AutoTCP>0</AutoTCP>
            <UriEscaped>1</UriEscaped>∂
            <ClicktoTalk>0</ClicktoTalk>
            <MwiNo></MwiNo>
            <MWINum>*97</MWINum>
            <ParkNo></ParkNo>
            <CallParkNum></CallParkNum>
            <RetrieveNum></RetrieveNum>
            <HelpNo></HelpNo>
            <MSRPHelpNum></MSRPHelpNum>
            <UserIsPhone>0</UserIsPhone>
            <AutoAnswer>0</AutoAnswer>
            <NoAnswerTime>5</NoAnswerTime>
            <MissedCallLog>1</MissedCallLog>
            <ParkMode></ParkMode>
            <SvcCodeMode>0</SvcCodeMode>
            <DNDOnSvcCode></DNDOnSvcCode>
            <DNDOffSvcCode></DNDOffSvcCode>
            <CFUOnSvcCode></CFUOnSvcCode>
            <CFUOffSvcCode></CFUOffSvcCode>
            <CFBOnSvcCode></CFBOnSvcCode>
            <CFBOffSvcCode></CFBOffSvcCode>
            <CFNOnSvcCode></CFNOnSvcCode>
            <CFNOffSvcCode></CFNOffSvcCode>
            <ANCOnSvcCode></ANCOnSvcCode>
            <ANCOffSvcCode></ANCOffSvcCode>
            <SendANOnCode></SendANOnCode>
            <SendANOffCode></SendANOffCode>
            <CWOnCode></CWOnCode>
            <CWOffCode></CWOffCode>
            <VoiceCodecMap>opus,PCMU,PCMA,G726-32,G729,G723,iLBC,AMR,G722,AMR-WB</VoiceCodecMap>
            <VideoCodecMap></VideoCodecMap>
            <BLFListUri></BLFListUri>
            <BLFServer></BLFServer>
            <Respond182>0</Respond182>
            <EnableBLFList>0</EnableBLFList>
            <CallerIdType>4</CallerIdType>
            <SynClockTime>0</SynClockTime>
            <MohServer></MohServer>
            <UseVPN>1</UseVPN>
            <EnableDND>0</EnableDND>
            <InactiveHold>0</InactiveHold>
            <ReqWithPort>1</ReqWithPort>
            <UpdateRegExpire>1</UpdateRegExpire>
            <EnableSCA>0</EnableSCA>
            <SubCallPark>0</SubCallPark>
            <SubCCStatus>0</SubCCStatus>
            <FeatureSync>0</FeatureSync>
            <EnableXferBack>0</EnableXferBack>
            <XferBackTime>35</XferBackTime>
            <UseTelCall>0</UseTelCall>
            <EnablePreview>0</EnablePreview>
            <PreviewMode>1</PreviewMode>
            <TLSVersion>2</TLSVersion>
            <CSTANumber></CSTANumber>
            <EnableChgPort>0</EnableChgPort>
            <VQName></VQName>
            <VQServer></VQServer>
            <VQServerPort>5060</VQServerPort>
            <VQHTTPServer></VQHTTPServer>
            <FlashMode>0</FlashMode>
            <ContentType></ContentType>
            <ContentBody></ContentBody>
            <UnregisterOnBoot>0</UnregisterOnBoot>
            <EnableMACHeader>0</EnableMACHeader>
            <EnableRegisterMAC>0</EnableRegisterMAC>
            <RecordStart>Record:on</RecordStart>
            <RecordStop>Record:off</RecordStop>
            <BLFDialogMatch>1</BLFDialogMatch>
            <Ptime>0</Ptime>
            <EnableDeal180>1</EnableDeal180>
            <KeepSingleContact>0</KeepSingleContact>
            <SessionTimerT1>500</SessionTimerT1>
            <SessionTimerT2>4000</SessionTimerT2>
            <SessionTimerT4>5000</SessionTimerT4>
            <UnavailableMode>0</UnavailableMode>
            <TCPUseRetryTimer>0</TCPUseRetryTimer>
        </line>
{{ end }}
    </sip>
    <phone>
        <date>
            <EnableSNTP>1</EnableSNTP>
            <SNTPServer>0.pool.ntp.org</SNTPServer>
            <SecondSNTPServer>time.nist.gov</SecondSNTPServer>
            <TimeZone>-32</TimeZone>
        </date>
    </phone>
    <dsskey>
        <dssSide index="1">
            <Fkey index="1">
                <Type>2</Type>
                <Value>SIP1</Value>
                <Title>Line 1</Title>
                <ICON>Green</ICON>
            </Fkey>
            <Fkey index="2">
                <Type>2</Type>
                <Value>SIP1</Value>
                <Title>Line 2</Title>
                <ICON>Green</ICON>
            </Fkey>
            <Fkey index="3">
                <Type>2</Type>
                <Value>SIP1</Value>
                <Title>Line 3</Title>
                <ICON>Green</ICON>
            </Fkey>
            <Fkey index="4">
                <Type>2</Type>
                <Value>SIP1</Value>
                <Title>Line 4</Title>
                <ICON>Green</ICON>
            </Fkey>
        </dssSide>
    </dsskey>
    <web>
        <WebServerType>0</WebServerType>
        <WebPort>80</WebPort>
        <HttpsWebPort>443</HttpsWebPort>
        <RemoteControl>1</RemoteControl>
        <EnableMMIFilter>0</EnableMMIFilter>
        <WebAuthentication>0</WebAuthentication>
        <EnableTelnet>0</EnableTelnet>
        <TelnetPort>23</TelnetPort>
        <TelnetPrompt></TelnetPrompt>
        <LogonTimeout>15</LogonTimeout>
        <account index="1">
            <Name>admin</Name>
            <Password>admin</Password>
            <Level>10</Level>
        </account>
    </web>
    <ap>
        <DefaultUsername></DefaultUsername>
        <DefaultPassword></DefaultPassword>
        <InputCfgFileName></InputCfgFileName>
        <DeviceCfgFileKey></DeviceCfgFileKey>
        <CommonCfgFileKey></CommonCfgFileKey>
        <DownloadCommonConf>1</DownloadCommonConf>
        <SaveProvisionInfo>0</SaveProvisionInfo>
        <CheckFailTimes>5</CheckFailTimes>
        <FlashServerIP>{{.ProvisioningServer}}</FlashServerIP>
        <FlashFileName>/cnf/fanvil/x5u/$mac.xml</FlashFileName>
        <FlashProtocol>5</FlashProtocol>
        <FlashMode>2</FlashMode>
        <FlashInterval>1</FlashInterval>
        <updatePBInterval>720</updatePBInterval>
        <APPswdEncryption>0</APPswdEncryption>
        <pnp>
            <PNPEnable>1</PNPEnable>
            <PNPIP>224.0.1.75</PNPIP>
            <PNPPort>5060</PNPPort>
            <PNPTransport>0</PNPTransport>
            <PNPInterval>1</PNPInterval>
        </pnp>
        <opt>
            <DHCPOption>66</DHCPOption>
            <DHCPv6Option>0</DHCPv6Option>
            <DhcpOption120>0</DhcpOption120>
            <SaveDHCPOpion>0</SaveDHCPOpion>
        </opt>
    </ap>
</sysConf>
{{- end }}