{{ define "fanvil_directory" -}}
<?xml version="1.0" encoding="UTF-8"?>
<FanvilIPPhoneDirectory >
    <Title>Hive Directory</Title>
    <Prompt>Hive Directory</Prompt>
    <DirectoryEntry>
        <Name>Ritz</Name>
        <Telephone>7420</Telephone>
    </DirectoryEntry>
    <DirectoryEntry>
        <Name>Tyr</Name>
        <Telephone>7897</Telephone>
    </DirectoryEntry>
    <!--Additional Menu Items may be added -->
    <!--Additional soft key items may be added -->
</FanvilIPPhoneDirectory>
{{- end}}