{{ define "fanvil_x5u_cfg_generic" -}}
<<VOIP CONFIG FILE>>Version:2.0002

<AUTOUPDATE CONFIG MODULE>
Auto Etc Url   :https://{{.ProvisioningServer}}/files/fanvil_x5u_totaro.bmp

<<END OF FILE>>
{{- end }}